<h2 class="page-header alert alert-danger">{{err_status}}</h2>
<p class="alert alert-danger" style="font-size: medium;">{{err_msg}}</p>
{{#if err}}<p class="alert alert-danger" style="font-size: medium;">{{err}}</p>{{/if}}