<h2 class="page-header">Account Login</h2>
<form method="post" action="/users/login/callback">
  <div class="form-group">
    <label>Username/Email</label>
    <input type="text" class="form-control" name="username" placeholder="Username/Email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-lg btn-success" role="button">Submit</button>
  &nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-lg btn-default" role="button">Cancel</button>
</form><br/><br/>
<hr style="width: 48%;" class="pull-left" /><span class="text-muted" style="padding-top: 10px;">OR</span><hr style="width: 48%;" class="pull-right" />
	<a href="/google/login" id="google" class="btn btn-lg btn-sucess" role="button" style="background-color: #06B229; color: white; width: 100%;">Log in with Google</a>
<hr/>